@import './variable.scss';
.container1{
    background-color: $color-1;
    .head{
        font-size: 14px;
        padding: 15px;
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $color-3;

    }
}